.form-login ion-grid {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    padding: 0 25px;
}
ion-title{
    text-align: center;
}
ion-row{
    padding: 5px 0;
}
.headingText {
    h5 {
        margin-top: 0.2rem;
        color: #d3a6c7;
    }
}