.form-login ion-grid {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    padding: 0 25px;
}
ion-title{
    text-align: center;
}
ion-row{
    padding: 5px 0;
}
ion-input{
    border: 3px solid #00000014;
    font-size: 20px !important;
    border-radius: 30px;
}